*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: "Roboto Flex", sans-serif;

  color: #4c4c4c; /* Softer text color */
}

p {
  line-height: 1.5; /* Better readability */
  margin-top: 0.5em; /* Margin above the paragraph */
}

img {
  max-width: 100%;
}
/* h1 fade in animation and Style*/
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.hero__text h1 {
  font-family: "Italianno", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 7rem;
  color: #f9dba6;
  text-decoration: none;
  margin: 0;
  opacity: 0; /* Start invisible */
}

h2 {
  font-family: "Playfair Display", serif;
  font-weight: 500;
  font-size: 2.5rem;
  padding: 0;
  letter-spacing: -0.01em;

  /* Gradient text effect */
  background: linear-gradient(
    130deg,
    hwb(355 22% 44%),
    #3a3a3a
  ); /* Adjust gradient colors as needed */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; /* This makes the gradient visible on the text */
  background-clip: text; /* Ensure text fills with gradient */
}

h3 {
  text-transform: uppercase;
  color: #f9dba6;
  font-family: Roboto, sans-serif;
  font-weight: 100;
  font-size: 1.5em;
  margin-top: 1em;
  margin-bottom: 0.7em;
}

h4 {
  font-size: 1em;
  color: #3a3a3a;
  font-family: "Roboto Flex";
  font-weight: bold;
  margin: 0;
  padding-top: 1em;
}

h5 {
  font-size: 1em;
  color: #3a3a3a;
  font-family: "Roboto Flex", sans-serif;
  font-weight: bold;
  margin: 0;
  padding-top: 1em;
}

/* -------------------------------- */
/* Header Styles */
/* -------------------------------- */

/* Transparent header for the initial state */
#main-header {
  background: rgba(0, 0, 0, 0.5); /* Transparent background */
  position: absolute; /* Overlays the hero section */
  top: 0;
  width: 100%;
  z-index: 999;
  transition: background-color 0.3s ease, color 0.3s ease;
}

#main-header .soulconnection-logo,
#main-header .nav__link {
  color: #f9dba6; /* Yellow text for transparent header */
  transition: color 0.3s ease;
}

/* Fixed header when scrolled */
#main-header.scrolled {
  background: #ebe0d5; /* Original background */
  position: fixed;
  color: #74262c; /* Reset text color */
  top: 0;
  width: 100%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Subtle shadow */
}

#main-header.scrolled .soulconnection-logo,
#main-header.scrolled .nav__link {
  color: #74262c; /* Original text color */
}

/* -------------------------------- */
/* Logo Styles */
/* -------------------------------- */
.soulconnection-logo {
  font-family: "Italianno", cursive;
  font-weight: 500;
  font-style: normal;
  font-size: 3em;
  text-decoration: none;
  margin: 0;
  line-height: 1;
  display: inline-block;
  align-items: center;
  color: #74262c; /* Default color */
}

.logo-container {
  display: flex;
  align-items: center;
}

.nav-logo {
  width: 50px;
  height: 50px;
  margin-right: 0.3em; /* Space between the logo and the text */
  margin-bottom: 10px;
}

/* -------------------------------- */
/* Navigation Styles */
/* -------------------------------- */
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__list {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav__item + .nav__item {
  margin-left: 1em;
}

.nav__link {
  font-family: "Roboto Flex", sans-serif;
  font-size: 1.3em;
  text-decoration: none;
  font-weight: light;
  color: #74262c; /* Default color */
}

.nav__link--button {
  background: #fff;
  color: #74262c;
  padding: 0.25em 1em;
  border-radius: 10em;
}

.nav__link:hover {
  opacity: 0.75;
}

/* -------------------------------- */
/* Hamburger Icon Styles */
/* -------------------------------- */
.hamburger {
  width: 50%;
  position: relative;
  z-index: 99;
  display: block;
  margin: 0 auto;
}

.hamburger,
.hamburger::before,
.hamburger::after {
  display: block;
  height: 3px;
  background-color: #f9dba6; /* Default color */
  transition: background-color 0.3s ease; /* Smooth transition */
}

.hamburger::before,
.hamburger::after {
  content: "";
  position: absolute;
  width: 100%;
}

/* Top line */
.hamburger::before {
  transform: translateY(-6px); /* Adjust spacing */
}

/* Bottom line */
.hamburger::after {
  transform: translateY(6px); /* Adjust spacing */
}

/* Scrolled state */
header.scrolled .hamburger,
header.scrolled .hamburger::before,
header.scrolled .hamburger::after {
  background-color: #74262c; /* Original color after scrolling */
}

/* -------------------------------- */
/* Hamburger Icon Transition States */
/* -------------------------------- */

/* When header is scrolled */
header.scrolled .hamburger {
  background: #74262c;
}

header.scrolled .hamburger::before,
header.scrolled .hamburger::after {
  background: #74262c;
}

/* When the menu is visible */
.nav--visible .hamburger {
  background-color: transparent; /* Hide middle bar */
  transform: rotate(-45deg); /* Rotate top bar */
}

.nav--visible .hamburger::before,
.nav--visible .hamburger::after {
  top: 0;
  transform: rotate(45deg); /* Rotate bottom bar */
}

/* -------------------------------- */
/* Miscellaneous */
/* -------------------------------- */
.container {
  width: 90%;
  max-width: 1100px;
  margin: 0 auto;
}

.heading-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0 20px;
}

.nav-toggle {
  cursor: pointer;
  border: 0;
  width: 3rem;
  height: 3rem;
  padding: 0;
  background: rgba(0, 0, 0, 0);
  color: #74262c;
  transition: opacity 250ms ease;
  z-index: 9999;
}

header {
  background: #ebe0d5;
  padding: 0.7em 0;
  z-index: 999;
  width: 100%;
}

.beige-background {
  background: rgba(242, 241, 240, 1);
  background: linear-gradient(0deg, #ebe0d5 0%, rgba(242, 241, 240, 1) 100%);
}

.hero {
  position: relative;
  overflow: hidden;
  border-bottom-left-radius: 200px;
}

.hero-img {
  position: relative;
  max-width: 100%;
  margin: 0 auto;
  height: 100vh;
  padding: 60px 0 70px 0;
  background-image: url("img/hero-img.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 0; /* Background image */
}

.overlay {
  position: absolute;
  z-index: 2; /* Above background image */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-bottom-left-radius: 22%;
  background-color: rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease;
}

.hero__text {
  display: flex;
  flex-direction: column; /* Stack elements vertically */
  align-items: center; /* Center items horizontally */
  width: 50%;
  margin-top: 3em;
  text-align: center;
}

.mandala-hero {
  width: 12em;
  height: 12em;
  margin-bottom: 4em;
  z-index: 3;
  opacity: 0; /* Start invisible */
  animation: fadeIn 1s ease-in forwards; /* Even faster fade-in duration */
  animation-delay: 1s; /* Start after h1 finishes */
}

.hero h1 {
  z-index: 5; /* Ensure h1 is above everything else */
  font-family: "Italianno", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 7rem;
  color: #f9dba6;
  text-decoration: none;
  margin: 0 0 0.3em 0;
  white-space: nowrap;
  overflow: hidden;
  display: inline-block;
  text-align: center;
  animation: typing 1.5s steps(40, end) forwards;
}

@keyframes typing {
  from {
    clip-path: inset(0 100% 0 0);
  }
  to {
    clip-path: inset(0 0 0 0);
  }
}

.hero-scroll-btn {
  position: absolute; /* Position relative to the parent container */
  bottom: 4em; /* Adjust the distance from the bottom */
  left: 50%; /* Center horizontally */
  transform: translateX(-50%); /* Center adjustment */
  z-index: 5; /* Ensure it stays above other elements if needed */
}

a#scroll-btn {
  height: 4em;
  width: 2.5em;
  border: 0.15em solid #fff;
  border-radius: 1.6em;
  display: block; /* Ensures it's treated as a block element */
}

/* Style for the scroll button's dot */
a#scroll-btn::before {
  position: absolute;
  content: "";
  top: 50%; /* Position the dot vertically centered */
  left: 50%; /* Position the dot horizontally centered */
  transform: translate(-50%, -50%); /* Corrects the centering */
  width: 0.5em;
  height: 0.5em;
  background-color: #fff; /* White dot */
  border-radius: 50%; /* Make it circular */
  animation: move-down 2s infinite; /* Apply the animation */
}

/* Animation for the dot */
@keyframes move-down {
  0% {
    transform: translate(-50%, -50%); /* Start at the centered position */
  }
  50% {
    transform: translate(-50%, 10px); /* Move it downward */
  }

  80% {
    opacity: 0.5;
  }

  100% {
    transform: translate(-50%, -50%); /* Return to the centered position */
  }
}

.servicios {
  padding-bottom: 3em;
}

.servicios h2 {
  padding: 0 0 0.3em 0;
  text-align: left;
}

.mini-container {
  max-width: 900px;
  margin: 0 auto;
  padding: 3em 4em;
}

.cuencos {
  top: 0;
  right: 0;
  max-width: 100%; /* Ajusta según el tamaño que quieras */
  height: auto;
  border-bottom-right-radius: 200px;
}

.my-video {
  max-width: 100%;
}

/* SOLO afecta la segunda fila (row que contiene el video y texto) */
.row:nth-of-type(2) {
  display: flex;
}

.astrology .container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%; /* Ocupa todo el ancho disponible */
}

.astrology {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3em 1em;
  text-align: center;

  position: relative;
  background-image: url("img/moon-mandala2.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%; /* Asegura que no se desborde */
  max-width: 100%; /* Evita que la imagen sea más grande que el contenedor */
  text-align: center;
  color: #333; /* Ensures text remains legible */
}

.astrology h2 {
  margin: 0;
}

.astrology p {
  font-size: 16px;
  color: #1c1c1c;
}

.astrology-card {
  background-color: rgba(
    250,
    238,
    240,
    0.5
  ); /* Aplica transparencia solo al fondo */
  backdrop-filter: blur(10px); /* Glass effect */
  -webkit-backdrop-filter: blur(10px);
  border: 1.8px solid #e8a2b3;
  border-radius: 20px;
  width: 90%; /* Hace que se ajuste en pantallas pequeñas */
  max-width: 50em; /* Mantiene un ancho máximo en pantallas grandes */
  padding: 3em 4em;
  margin: 6.5em 0;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Soft shadow for depth */
  position: relative; /* Ensures items layer above other elements */
}

/* Media Query para pantallas pequeñas */
@media (max-width: 768px) {
  .astrology-card {
    padding: 2em; /* Reduce padding en móviles */
    width: 95%; /* Se adapta más */
  }
}

/*Testimonials*/
.testimonials-wrapper {
  display: flex;
  align-items: flex-start;
  gap: 40px;
}

.testimonial-info {
  display: flex;
  align-items: flex-start;
  gap: 20px; /* Space between image and text */
  flex: 1;
  max-width: 40%;
}

.testimonial-image img {
  width: 80px;
  height: auto;
  border-radius: 10%;
}

.testimonial-text {
  flex: 1;
  text-align: left;
}

.testimonials-content {
  flex: 1;
  max-width: 60%;
}

.testimonial-info .rating {
  margin-top: 15px;
  font-size: 14px;
  color: #851630;
}

.testimonials-button {
  background-color: #7f1212;
  color: #f0e9e3;
  font-weight: 500;
  border-style: none;
  padding: 1em;
  border-radius: 10px;
}

.testimonials-content {
  flex: 1;
  max-width: 60%;
}

.testimonials {
  background-color: #f9f9f9; /* Light gray background */
  padding: 4em 1em; /* Add padding for smaller screens */
  text-align: center;
}

.testimonials-item {
  background-color: #faeef0; /* Soft pink with transparency */
  backdrop-filter: blur(10px); /* Glass effect */
  -webkit-backdrop-filter: blur(10px); /* Safari support */
  border: 1.8px solid #e8a2b3; /* Subtle border matching background */
  padding: 30px;
  border-radius: 20px;
  max-width: 50%; /* Ensure it fits 2 items in 100% width */
  margin: 0 0px 1em 0;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Soft shadow for depth */
  color: #333;
  position: relative; /* Ensures items layer above other elements */
}

/* Testimonial text */
.testimonials-item p {
  font-size: 16px;
  line-height: 1.5;
  color: #4a4a4a; /* Softer black for a modern feel */
}

/* Rating stars */
.testimonials-item .rating {
  margin-top: 15px;
  font-size: 14px;
  color: #851630;
}

.swiper-scrollbar {
  background-color: #f9f9f9; /* White background for the scrollbar track */
  margin-top: 2em;
  height: px; /* Reduced height for the scrollbar */
}

/* Pagination dots style */
.swiper-pagination-bullet {
  background-color: rgba(255, 182, 193, 0.8); /* Soft pink for inactive dots */
  opacity: 1; /* Ensure full opacity */
  width: 10px;
  height: 10px;
  margin: 0 5px;
  border-radius: 50%; /* Circular dots */
}

/* Active dot style */
.swiper-pagination-bullet-active {
  background-color: #892630; /* Darker pink for the active dot */
}

.row {
  display: flex;
}

.col {
  width: 100%;
}

.col + .col {
  margin-left: 4em;
}

.text-center {
  width: 100%;
  padding-top: 1em;
  text-align: center; /* Center the content within each column */
  display: flex;
  flex-direction: column;
  align-items: center; /* Center items vertically within the column */
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1em;
}

.heading-box {
  margin-bottom: 1em;
}

.section-title {
  color: #333;
  margin: 0;
}

.intro-text {
  font-size: 1.2em;
  color: #666;
  margin-bottom: 2em;
}

.call-action {
  margin-top: 6em;
}

.crystals {
  position: relative;
  z-index: 1; /* Keep crystals below hero section */
  background-image: url("img/shadow.png");
  background-size: 100% auto; /* Set width to 100% and keep aspect ratio */
  background-repeat: no-repeat; /* Prevent repeating */
  padding-top: 0.8em;
}

.crystals-img {
  position: relative;
  z-index: 2; /* Ensure it's above background */
  max-width: 100%;
  margin: 0 auto;
  height: 65vh;
  padding: 60px 0 70px 0;
  background-image: url("img/crystals.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
}

.crystals-overlay {
  position: absolute;
  z-index: 3; /* Ensure it's above crystals-img */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0); /* Start transparent */
  transition: background-color 0.3s ease;
}

/*Footer style*/
.footer {
  background: linear-gradient(to bottom, rgba(116, 38, 44, 0.5), #480208),
    url("img/shadow.png") top center no-repeat;
  background-size: cover; /* Ensures the image covers the width */
  color: #f9dba6;
  position: relative;
  padding: 2.5em 0; /* Add padding to the top and bottom */
  text-align: center;
}

.footer .footer-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 100%; /* Set height to 100% for responsiveness */
}

.footer-left-section,
.footer-right-section {
  flex: 1;
  max-width: 300px;
  min-width: 200px; /* Reduce min-width for smaller screens */
}

.footer-left-section {
  position: relative;
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  height: 100%; /* Make sure it uses the available height of the parent container */
}

.footer-logo p {
  font-family: "Italianno", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 4em;
  color: #f9dba6;
  text-decoration: none;
  margin: 0;
  position: relative; /* Positioned relative to stack above mandala */
  z-index: 1; /* Ensure it is on top of the mandala */
}

.footer-mandala {
  position: absolute; /* Position relative to the footer-left-section */
  top: 50%; /* Move to vertical center */
  left: 50%; /* Move to horizontal center */
  transform: translate(-50%, -50%); /* Adjust for element's own size */
  z-index: 0; /* Ensure it is behind the logo */
}

.footer-mandala-img {
  width: 8em;
  height: 8em;
  opacity: 0.6;
}

.myname {
  font-family: Roboto, sans-serif;
  font-size: 22px;
  font-weight: light;
  margin-bottom: 20px;
  color: #f9dba6;
  text-align: left;
  margin-left: 2.5em;
}

.myname p {
  padding: 0;
}

.social-media {
  display: flex;
  align-items: center;
  font-family: Roboto, sans-serif;
  color: #f9dba6;
  font-size: 18px;
  font-weight: light;
  margin-left: 2.5em;
}

.social-media p {
  padding: 0.5em;
  margin: 0;
}

.icon {
  height: 24px;
  margin-right: 0.1em;
  color: #f9dba6;
  cursor: pointer;
}

.icon-2 {
  height: 32px;
  margin-right: 0.1em;
  color: #f9dba6;
  cursor: pointer;
}

.footer-whatsapp-icon {
  position: fixed; /* Fixed position keeps it in view while scrolling */
  right: 10px; /* Adjust the distance from the right side */
  bottom: 10px; /* Adjust the distance from the bottom */
  z-index: 100; /* Ensure it's above other content */
}

.whatsapp-icon {
  height: 50px;
  width: auto;
  cursor: pointer; /* Change cursor to pointer for better UX */
  transition: transform 0.3s ease; /* Smooth scaling effect */
}

.linkedin-icon {
  height: 28px;
}

.address p {
  text-align: left;
}

.address {
  text-align: left;
}

/*footer media*/

@media (max-width: 800px) {
  .footer .footer-content {
    flex-direction: column; /* Stack items vertically */
    text-align: center; /* Center-align text */
  }

  .footer-left-section,
  .footer-right-section {
    max-width: none; /* Remove max-width to allow full width */
    width: 100%; /* Make sections take full width */
    margin: 10px 0; /* Add vertical margin for spacing */
  }

  /* Hide the middle section for small screens */
  .footer-middle-section {
    width: 0;
    height: 0;
    display: none;
  }

  .social-media {
    margin: 10px 0;
    display: flex;
    margin-left: 3em;
  }

  .myname {
    margin-left: 3em;
  }
}

@media (max-width: 1100px) {
  .testimonials-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .testimonial-info {
    max-width: 40%;
  }

  .testimonials-content {
    max-width: 50%; /* Adjust size for better balance */
  }

  .testimonials-item {
    max-width: 100%; /* Ensures it takes up full width */
  }
}

/* Mobile layout */
@media (max-width: 767px) {
  .testimonials-wrapper {
    flex-direction: column;
    text-align: center;
  }

  .testimonial-info,
  .testimonials-content {
    max-width: 100%;
  }
}

/*nav media*/

@media screen and (max-width: 900px) {
  .nav {
    transition: max-height 7.9s ease; /* Aquí ajustas la duración (0.5s en este ejemplo) y el tipo de animación (ease) */

    display: none; /* Hide the navigation menu by default on small screens */
    text-align: center;
  }

  .nav--visible {
    display: block; /* Show the navigation menu when the "nav--visible" class is added */
  }

  .soulconnection-logo {
    display: block;
    text-align: center;
    margin: 0 auto;
  }

  .nav__list {
    display: block;
    text-align: center; /* Center align the list items within the centered menu */
    margin: 0 auto; /* Center the list items horizontally */
  }

  .nav__item {
    display: block;
    margin: 0; /* Remove any margin for list items */
  }

  .nav__link {
    display: inline-block; /* Ensure links are inline-block for centering */
    margin: 0; /* Remove any margin for links */
  }

  .nav__item + .nav__item {
    margin-left: 0;
  }

  .first__list {
    margin-bottom: 1.5em !important;
  }

  .nav__link {
    color: #74262c;
  }

  .nav__item {
    display: block;
  }

  header {
    background: #ede8e0;
    padding: 0.7em 0;
  }

  h1 {
    font-size: 2.7rem;

    margin-top: 0;
    margin-bottom: 0.5em;
    line-height: 1;
  }

  h2 {
    font-size: 2rem;
    line-height: 1;
  }

  .section-title {
    margin-bottom: 0.5em;
  }

  .hero h1 {
    margin-top: 0.5em;
  }

  .mandala-hero {
    width: 12em;
    height: 12em;
    margin-top: 1.5em; /* Space between the title and mandala */
  }

  .hero__text {
    width: 100%;
  }

  .hero {
    width: 100%;
  }

  .bottom-space {
    padding-bottom: 2em;
  }

  .row {
    display: block;
  }

  .col + .col {
    margin-left: 0;
  }

  .colums {
    display: block;
  }
  .col {
    margin-top: 2em;
  }
}

@media screen and (min-width: 901px) {
  .hamburger {
    display: none;
  }

  .nav-toggle {
    display: none;
  }
}

/* Media Query for Smaller Screens */
@media (max-width: 768px) {
  .hero h1 {
    font-size: 5rem;
    margin-top: 1em;
  }

  .mandala-hero {
    width: 12em;
    height: 12em;
    margin-top: 0; /* Space between the title and mandala */
  }

  .hero-scroll-btn {
    margin-bottom: 2.5em;
  }

  .testimonials-item {
    max-width: 100%; /* Utilize full space on larger devices */
  }

  /* Cambiar el orden de video y texto */

  .row:nth-of-type(2) {
    flex-direction: column; /* Apilar en columna en móvil/tablet */
  }

  .row:nth-of-type(2) .mini-container:first-child {
    order: 2; /* Poner el video debajo */
  }

  .row:nth-of-type(2) .mini-container:last-child {
    order: 1; /* Poner el texto arriba */
  }

  .testimonials-wrapper {
    flex-direction: column;
    text-align: center;
  }

  .mini-container {
    padding: 1em 2em;
  }

  .testimonial-info,
  .testimonials-content {
    max-width: 100%;
  }
  .crystals {
    background-size: 120% auto; /* Increase size slightly for larger screens */
    background-position: center top; /* Adjust positioning to top-center */
  }

  .crystals-img {
    background-position: center top; /* Move the focus to the top of the image */
    height: 50vh; /* Reduces height of the crystals image for smaller screens */
  }
}

@media (max-width: 480px) {
  .hero-img {
    height: 90vh;
  }

  .hero h1 {
    font-size: 4.5rem;
    margin-top: 1.3em;
  }

  .mandala-hero {
    width: 10em;
    height: 10em;
    margin-top: 0;
  }

  .hero-scroll-btn {
    margin-bottom: 1em;
  }

  .cuencos {
    border-bottom-right-radius: 130px;
  }

  .crystals {
    background-size: 150% auto; /* Scale up slightly to cover more area */
    background-position: center top; /* Position it at the top */
  }

  .crystals-img {
    height: 45vh;
    background-position: top center; /* Move the image so the crystals are less centered */
  }

  .card.visible {
    opacity: 1;
    transform: translateY(0); /* Cards come from the top */
  }
}

/* Scroll-in animation for large screens */
/* Make animation slower for larger screens */
@media (min-width: 768px) {
  .card {
    transition: transform 1.4s ease, opacity 1.4s ease; /* Slow down the animation */
  }

  .card.visible {
    transition-delay: 0.8s; /* Stagger the visible class with a delay for better effect */
  }
}

.card.visible {
  opacity: 1;
  transform: translateY(0); /* Reset the position when visible */
}
